<!DOCTYPE html>
<!-- th -> thymeleaf 템플릿 엔진을 선언 -> thymeleaf 문법을 사용가능-->
<html xmlns :th = "http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p th:text = "'안녕하세요.' + ${data}"></p>    
    <a href = "/members/new">회원가입</a>
    <a href = "/members">회원목록</a>
    <form method = "post" action = "/">
        <input type = "text" name = "txt" placeholder="이름을 입력해주세요">        
        <input type = "submit" value = "click!!">
    </form>
</body>
</html>